@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddbea9;
  height: 100vh;
}

.title {
  font-size: 6rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.title > span {
  color: #cb997e;
}

.app {
  background-color: #ddbea9;
}
/* Main */

.main {
  text-align: center;
  font-size: 2rem;
  color: #cb997e;
}
.main > h3 {
  font-size: 2rem;
  transition: all 1s;
}
.main > h3:hover {
  font-size: 2.2rem;
  color: #ce7d4e;
}

/* NavBar */

.navBar {
  position: sticky;
  top: 0px;
  background-color: #b7b7a4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px #a5a58d;
  border-radius: 0%;
}
.navLink {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

/* Categories */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #cb997e;
  border: solid#a5a58d;
  border-radius: 15px;
  padding: 2%;
}

.catPair {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  transition: all 0.5s;
}
.catPair:hover {
  height: 22vh;
  color: #a85c2f;
}

.catImg {
  max-height: 50%;
  border-radius: 50%;
}

.imgCap {
  margin: 0%;
  font-size: 1.5rem;
}

/* Random */

.hungry {
  text-align: center;
}
.random {
}
.hBtnDiv {
  text-align: center;
}

.hBtn {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Search */

.searchDiv {
  text-align: center;
}

/* MealElement */

.mealElement {
}
.img {
  display: inline-block;
  height: 40vh;
  margin-left: 5%;
  border: solid 2px #6b705c;
  border-radius: 10px;
}

.incredient {
  margin: 1px;
}

.incredients > h3 {
  margin-top: 2px;
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.incredients {
  display: inline-block;
  padding: 3px;
  margin: 3px;
  width: fit-content;
  background-color: #a5a58d;
  border: solid 2px #6b705c;
  border-radius: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.instructions > h3 {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2px;
}
.instructions {
  border: solid 2px #a5a58d;
  border-radius: 10px;
  text-align: justify;
  width: 80vw;
  background-color: #cb997e;
  margin-bottom: 5vh;
  margin-top: 5px;
  padding-top: 1%;
  padding: 2%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* List */

.list {
}
.list > h3 {
  color: #ce7d4e;
  text-align: center;
  font-size: 1.5rem;
}

.list > h3 > span:hover {
  color: #a85c2f;
}

.categoryElementWrapper {
  border: solid #a5a58d;
  border-radius: 15px;
  background-color: #cb997e;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
}

.categoryMealsListElement {
  text-align: center;
  transition: all 0.5s;
}
.categoryMealsListElement:hover {
  color: #ce7d4e;
  scale: 1.1;
}

.catMealListImg {
  height: 150px;
  border-radius: 5px;
}
