@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddbea9;
  height: 100vh;
}

.title {
  font-size: 6rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.title > span {
  color: #cb997e;
}

.app {
  background-color: #ddbea9;
}
/* Main */

.main {
  text-align: center;
  font-size: 2rem;
  color: #cb997e;
}
.main > h3 {
  font-size: 2rem;
  transition: all 1s;
}
.main > h3:hover {
  font-size: 2.2rem;
  color: #ce7d4e;
}

/* NavBar */

.navBar {
  position: sticky;
  top: 0px;
  background-color: #b7b7a4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px #a5a58d;
  border-radius: 0%;
}
.navLink {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

/* Categories */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #cb997e;
  border: solid#a5a58d;
  border-radius: 15px;
  padding: 2%;
  margin: 10px;
}

.catPair {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  transition: all 0.5s;
}
.catPair:hover {
  height: 22vh;
  color: #a85c2f;
}

.catImg {
  max-height: 50%;
  border-radius: 50%;
}

.imgCap {
  margin: 0%;
  font-size: 1.5rem;
}

/* Random */

.hungry {
  text-align: center;
  font-size: 2rem;
}

.hBtnDiv {
  text-align: center;
}

.hBtn {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  scale: 2;
  background-color: #b7b7a4;
  border-radius: 3px;
  border-color: #a5a58d;
}

/* Search */

.searchDiv {
  text-align: center;
}

.searchBtn {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  scale: 2;
  background-color: #b7b7a4;
  border-radius: 3px;
  border-color: #a5a58d;
  position: relative;
  left: 116px;
}

.searchInput {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  scale: 2;
  background-color: #b7b7a4;
  border-radius: 3px;
  border-color: #a5a58d;
}

/* MealElement */

.mealElement > h2 {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
}

.mealBox {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  border: solid #a5a58d;
  border-radius: 15px;
  margin: 10px;
  row-gap: 10px;
  padding: 10px;
  background-color: #cb997e;
}

.img {
  border: solid 2px #a5a58d;
  border-radius: 10px;
  grid-area: 1 / 2 / 2 / 3;
  align-self: stretch;
  max-height: 50vw;
  max-width: 50vw;
}

.incredient {
  margin: 1px;
  padding-bottom: 3px;
}

.incredients > h3 {
  margin-top: 4px;
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.incredients {
  padding: 3px;
  background-color: #b7b7a4;
  border: solid 2px #a5a58d;
  border-radius: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-area: 1 / 1 / 2 / 2;
  height: fit-content;
  width: fit-content;
}
.instructions > h3 {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2px;
}
.instructions {
  border: solid 2px #a5a58d;
  border-radius: 10px;
  text-align: justify;
  background-color: #b7b7a4;
  padding-top: 1%;
  padding: 3px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-area: 2 / 1 / 3 / 3;
  align-self: stretch;
  width: fit-content;
}

/* List */

.list {
}
.list > h3 {
  color: #ce7d4e;
  text-align: center;
  font-size: 1.5rem;
}

.list > h3 > span:hover {
  color: #a85c2f;
}

.categoryElementWrapper {
  border: solid #a5a58d;
  border-radius: 15px;
  background-color: #cb997e;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
}

.categoryMealsListElement {
  text-align: center;
  transition: all 0.5s;
}
.categoryMealsListElement:hover {
  color: #ce7d4e;
  scale: 1.1;
}

.catMealListImg {
  height: 150px;
  border-radius: 5px;
}

/* Modal */

.modal-container {
  margin-top: 0;
  background-color: #ddbea9;
  height: 100vh;
  overflow-y: auto;
}

.modal-container > h3 > span {
  color: #ce7d4e;
  font-size: 3rem;
  position: relative;
  top: 40px;
  left: 45%;
  transition: all 0.1s;
}

.modal-container > h3 > span:hover {
  color: #a85c2f;
  font-size: 3.5rem;
}
