@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddbea9;
  height: 100vh;
}

.title {
  font-size: 5rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.app {
  background-color: #ddbea9;
}
/* Main */

main. {
}

/* NavBar */

.navBar {
  position: sticky;
  top: 0px;
  background-color: #b7b7a4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px #a5a58d;
  border-radius: 0%;
}
.navLink {
  text-decoration: none;
  color: black;
}

/* Categories */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;

  background-color: aqua;
  border: solid rgb(0, 108, 118);
}

.catPair {
  text-align: center;
  height: 20vh;

  background-color: rgb(235, 119, 255);
  border: solid rgb(209, 5, 255);
}

.catImg {
  max-height: 50%;

  background-color: rgb(119, 142, 255);
  border: solid rgb(25, 34, 202);
}

.imgCap {
  margin: 0%;

  background-color: rgb(111, 255, 79);
  border: solid rgb(23, 125, 5);
}

/* Random */

.hungry {
  text-align: center;
}
.random {
  border: solid black;
}
.hBtnDiv {
  text-align: center;
}

.hBtn {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.resultDiv {
}
/* Search */

.searchDiv {
  text-align: center;
}

/* MealElement */

.mealElement {
}
.img {
  display: inline-block;
  height: 40vh;
  margin-left: 5%;
  border: solid 2px #6b705c;
  border-radius: 10px;
}

.incredient {
  margin: 1px;
}

.incredients > h3 {
  margin-top: 2px;
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.incredients {
  display: inline-block;
  padding: 3px;
  margin: 3px;
  width: fit-content;
  background-color: #a5a58d;
  border: solid 2px #6b705c;
  border-radius: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.instructions > h3 {
  font-family: 'Lobster', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2px;
}
.instructions {
  border: solid 2px #a5a58d;
  border-radius: 10px;
  text-align: justify;
  width: 80vw;
  background-color: #cb997e;
  margin-bottom: 5vh;
  margin-top: 5px;
  padding-top: 1%;
  padding: 2%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
